{{ define "main" }}
<article class="doc">
  {{ if .Params.showTitle}}
  <h1 class="page">{{ .Title | safeHTML }}</h1>
  {{end}}
  <div class="blog-description">
    {{ .Content | safeHTML }}
  </div>
  <br />
  {{ $paginator := .Paginate (where .Data.Pages "Type" "in" .Site.Params.mainSections).ByDate.Reverse }}
  {{ range $paginator.Pages }}
  {{ partial "post-preview.html" . }}
  {{ end }}
  <div class="pagination-centered">
    {{ template "_internal/pagination.html" . }}
  </div>
</article>
{{ end }}
