@layer components {
  .doc {
    color: var(--doc-font-color);
    font-size: var(--doc-font-size);
    hyphens: auto;
    line-height: var(--doc-line-height);
    margin: var(--doc-margin);
    max-inline-size: var(--doc-max-inline-size);
    padding: 0 1rem 4rem;

    @media (width >= 1024px) {
      flex: auto;
      margin: var(--doc-margin--desktop);
      min-inline-size: 0;
    }

    h1, h2, h3, h4, h5, h6 {
      color: var(--heading-font-color);
      font-family: Ubuntu;
      font-variation-settings: 'VOLM' 20;
      font-weight: var(--heading-font-weight);
      hyphens: none;
      line-height: 1.3;
      margin: 1rem 0 0;

      .anchor {
        position: absolute;
        text-decoration: none;
        inline-size: 1.75ex;
        margin-inline-start: -1.5ex;
        visibility: hidden;
        font-size: 0.8em;
        font-weight: normal;
        padding-block-start: 0.05em;

        &::before {
          content: "\00a7";
        }
      }
    }

    h1:hover .anchor,
    h2:hover .anchor,
    h3:hover .anchor,
    h4:hover .anchor,
    h5:hover .anchor,
    h6:hover .anchor {
      visibility: visible;
    }

    > h1.page:first-child {
      font-size: calc(36 / var(--rem-base) * 1rem);
      /* Fluid margin: grows from 1.5rem to 2.5rem on larger screens */
      margin: clamp(1.5rem, 2vw, 2.5rem) 0 1.5rem;
    }

    h1.sect0 {
      background: var(--abstract-background);
      font-size: 1.8em;
      margin: 1.5rem -1rem 0;
      padding: 0.5rem 1rem;
    }

    h2:not(.discrete) {
      border-block-end: 1px solid var(--section-divider-color);
      margin-inline-start: -1rem;
      margin-inline-end: -1rem;
      padding: 0.4rem 1rem 0.1rem;
    }

    h3:not(.discrete) {
      font-weight: var(--alt-heading-font-weight);
    }

    p, dl {
      margin: 0;
    }

    a {
      color: var(--link-font-color);

      &:hover {
        color: var(--link_hover-font-color);
      }

      &.bare {
        hyphens: none;
      }

      &.unresolved {
        color: var(--link_unresolved-font-color);
      }
    }

    i.fa {
      hyphens: none;
      font-style: normal;
    }

    p code,
    table code {
      color: var(--code-font-color);
      background: var(--code-background);
      border-radius: 0.25em;
      font-size: 0.95em;
      padding: 0.125em 0.25em;
    }

    code, pre {
      hyphens: none;
    }

    pre {
      font-size: calc(16 / var(--rem-base) * 1rem);
      line-height: 1.5;
      margin: 0;
    }

    blockquote {
      margin: 0;
    }

    .paragraph.lead > p {
      font-size: calc(18 / var(--rem-base) * 1rem);
    }

    .right {
      float: right;
    }

    .left {
      float: left;
    }

    .stretch {
      inline-size: 100%;
    }

    .underline {
      text-decoration: underline;
    }

    .line-through {
      text-decoration: line-through;
    }

    .paragraph,
    .dlist,
    .hdlist,
    .olist,
    .ulist,
    .exampleblock,
    .imageblock,
    .listingblock,
    .literalblock,
    .sidebarblock,
    .verseblock,
    .quoteblock,
    .partintro,
    details,
    hr {
      margin: 1rem 0 0;
    }

    table.tableblock {
      font-size: calc(15 / var(--rem-base) * 1rem);
      margin: 1.5rem 0 0;

      + * {
        margin-block-start: 1.5rem;
      }

      th, td {
        padding: 0.5rem;
      }

      thead th {
        border-block-end: 2.5px solid var(--table-border-color);
      }

      td,
      > :not(thead) th {
        border-block-start: 1px solid var(--table-border-color);
        border-block-end: 1px solid var(--table-border-color);
      }

      > tfoot {
        background: var(--table-footer-background);
      }
    }

    td.tableblock > .content > :first-child {
      margin-block-start: 0;
    }

    table.stripes-all > tbody > tr,
    table.stripes-odd > tbody > tr:nth-of-type(odd),
    table.stripes-even > tbody > tr:nth-of-type(even),
    table.stripes-hover > tbody > tr:hover {
      background: var(--table-stripe-background);
    }

    .halign-left {
      text-align: left;
    }

    .halign-right {
      text-align: right;
    }

    .halign-center {
      text-align: center;
    }

    .valign-top {
      vertical-align: top;
    }

    .valign-bottom {
      vertical-align: bottom;
    }

    .valign-middle {
      vertical-align: middle;
    }

    .admonitionblock {
      margin: 1.4rem 0 0;

      p,
      td.content {
        font-size: calc(16 / var(--rem-base) * 1rem);
      }

      td.content > :not(.title):first-child,
      td.content > .title + * {
        margin-block-start: 0;
      }

      pre {
        font-size: calc(15 / var(--rem-base) * 1rem);
      }

      > table {
        table-layout: fixed;
        position: relative;
        inline-size: 100%;
      }

      td.content {
        padding: 1rem 1rem 0.75rem;
        background: var(--admonition-background);
        inline-size: 100%;
        word-wrap: anywhere;
      }

      .icon {
        position: absolute;
        inset-block-start: 0;
        inset-inline-start: 0;
        font-size: calc(15 / var(--rem-base) * 1rem);
        padding: 0 0.5rem;
        block-size: 1.25rem;
        line-height: 1;
        font-weight: var(--admonition-label-font-weight);
        text-transform: uppercase;
        border-radius: 0.45rem;
        transform: translate(-0.5rem, -50%);
        display: flex;
        align-items: center;
        gap: 0.25rem;

        i {
          display: inline-flex;
          align-items: center;
          block-size: 100%;

          &::after {
            content: attr(title);
          }
        }
      }

      &.caution .icon {
        background-color: var(--caution-color);
        color: var(--caution-on-color);

        i::before {
          font-family: 'FontAwesome';
          content: "\f071\00a0";
        }
      }

      &.important .icon {
        background-color: var(--important-color);
        color: var(--important-on-color);

        i::before {
          font-family: 'FontAwesome';
          content: "\f06a\00a0";
        }
      }

      &.note .icon {
        background-color: var(--note-color);
        color: var(--note-on-color);

        i::before {
          font-family: 'FontAwesome';
          content: "\f05a\00a0";
        }
      }

      &.tip .icon {
        background-color: var(--tip-color);
        color: var(--tip-on-color);

        i::before {
          font-family: 'FontAwesome';
          content: "\f0eb\00a0";
        }
      }

      &.warning .icon {
        background-color: var(--warning-color);
        color: var(--warning-on-color);

        i::before {
          font-family: 'FontAwesome';
          content: "\f06a\00a0";
        }
      }
    }

    .imageblock {
      display: flex;
      flex-direction: column;
      align-items: center;

      img,
      .image > img {
        display: inline-block;
        block-size: auto;
        max-inline-size: 100%;
        vertical-align: middle;
      }

      .title {
        margin-block-start: 0.5rem;
        padding-block-end: 0;
      }
    }

    .image:not(.left):not(.right) > img {
      margin-block-start: -0.2em;
    }

    .quoteblock,
    .verseblock {
      background: var(--quote-background);
      border-inline-start: 5px solid var(--quote-border-color);
      color: var(--quote-font-color);
    }

    .quoteblock {
      padding: 0.25rem 2rem 1.25rem;

      .attribution {
        color: var(--quote-attribution-font-color);
        font-size: calc(15 / var(--rem-base) * 1rem);
        margin-block-start: 0.75rem;
      }

      blockquote {
        margin-block-start: 1rem;
      }

      .paragraph {
        font-style: italic;
      }

      cite {
        padding-inline-start: 1em;
      }
    }

    .verseblock {
      font-size: 1.15em;
      padding: 1rem 2rem;

      pre {
        font-family: inherit;
        font-size: inherit;
      }
    }

    ol, ul {
      margin: 0;
      padding: 0 0 0 2rem;
    }

    ul.checklist,
    ul.none,
    ol.none,
    ul.no-bullet,
    ol.unnumbered,
    ul.unstyled,
    ol.unstyled {
      list-style-type: none;
    }

    ul.no-bullet,
    ol.unnumbered {
      padding-inline-start: 1.25rem;
    }

    ul.unstyled,
    ol.unstyled {
      padding-inline-start: 0;
    }

    ul.circle,
    ul.disc,
    ul.square {
      list-style-type: square;
    }

    ol.arabic {
      list-style-type: decimal;
    }

    ol.decimal {
      list-style-type: decimal-leading-zero;
    }

    ol.loweralpha {
      list-style-type: lower-alpha;
    }

    ol.upperalpha {
      list-style-type: upper-alpha;
    }

    ol.lowerroman {
      list-style-type: lower-roman;
    }

    ol.upperroman {
      list-style-type: upper-roman;
    }

    ol.lowergreek {
      list-style-type: lower-greek;
    }

    ul.checklist {
      padding-inline-start: 0.5rem;

      p > i.fa-check-square-o:first-child,
      p > i.fa-square-o:first-child {
        display: inline-flex;
        justify-content: center;
        inline-size: 1.25rem;
      }

      i.fa-check-square-o::before {
        content: "\2713";
      }

      i.fa-square-o::before {
        content: "\274f";
      }
    }

    .dlist .dlist,
    .dlist .olist,
    .dlist .ulist,
    .olist .dlist,
    .olist .olist,
    .olist .ulist,
    .ulist .dlist,
    .ulist .olist,
    .ulist .ulist {
      margin-block-start: 0.5rem;
    }

    .olist li,
    .ulist li {
      margin-block-end: 0.5rem;
    }

    .ulist .listingblock,
    .olist .listingblock,
    .admonitionblock .listingblock {
      padding: 0;
    }

    .admonitionblock .title,
    .exampleblock .title,
    .imageblock .title,
    .literalblock .title,
    .listingblock .title,
    .openblock .title,
    .tableblock caption {
      color: var(--caption-font-color);
      font-size: calc(16 / var(--rem-base) * 1rem);
      font-weight: var(--caption-font-weight);
      font-style: italic;
      hyphens: none;
      letter-spacing: 0.01em;
      padding-block-end: 0.075rem;
      text-align: left;
    }

    .exampleblock > .content {
      background: var(--example-background);
      border: 0.25rem solid var(--example-border-color);
      border-radius: 0.5rem;
      padding: 0.75rem;

      > :first-child {
        margin-block-start: 0;
      }
    }

    .sidebarblock {
      background: var(--sidebar-background);
      border-radius: 0.75rem;
      padding: 0.75rem 1.5rem;

      > .content > .title {
        font-size: calc(22.5 / var(--rem-base) * 1rem);
        font-weight: var(--alt-heading-font-weight);
        line-height: 1.3;
        margin-block-end: -0.3em;
        text-align: center;
      }

      > .content > :not(.title):first-child {
        margin-block-start: 0;
      }
    }

    .tableblock pre,
    .listingblock.wrap pre {
      white-space: pre-wrap;
    }

    pre.highlight code,
    .listingblock pre:not(.highlight),
    .literalblock pre {
      display: block;
      overflow-x: auto;
      padding: 0.75rem;
    }

    pre.highlight {
      position: relative;
    }

    .source-toolbox {
      display: flex;
      visibility: hidden;
      position: absolute;
      inset-block-start: 0.25rem;
      inset-inline-end: 0.5rem;
      color: var(--pre-annotation-font-color);
      font-family: var(--body-font-family);
      font-size: calc(13.5 / var(--rem-base) * 1rem);
      line-height: 1;

      .source-lang {
        text-transform: uppercase;
        letter-spacing: 0.075em;
        font-size: 0.96em;
        line-height: 1.0425;
      }

      > :not(:last-child)::after {
        content: "|";
        letter-spacing: 0;
        padding: 0 1ch;
      }

      .copy-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: transparent;
        border: none;
        color: inherit;
        outline: none;
        padding: 0;
        font-size: inherit;
        line-height: inherit;
        inline-size: 1em;
        block-size: 1em;

        * {
          flex: none;
        }

        svg {
          fill: currentColor;
          inline-size: inherit;
          block-size: inherit;
        }

        &.clicked .copy-toast {
          opacity: 1;
          transition: none;
        }
      }

      .copy-toast {
        position: relative;
        display: inline-flex;
        justify-content: center;
        margin-block-start: 1em;
        background-color: var(--doc-font-color);
        border-radius: 0.25em;
        padding: 0.5em;
        color: var(--color-white);
        cursor: auto;
        opacity: 0;
        transition: opacity 0.5s ease 0.75s;

        &::after {
          content: "";
          position: absolute;
          inset-block-start: 0;
          inline-size: 1em;
          block-size: 1em;
          border: 0.55em solid transparent;
          border-inline-start-color: var(--doc-font-color);
          transform: rotate(-90deg) translateX(50%) translateY(50%);
          transform-origin: left;
        }
      }
    }

    .listingblock:hover .source-toolbox {
      visibility: visible;
    }

    .language-console .hljs-meta {
      user-select: none;
    }

    .dlist dt {
      font-style: italic;
    }

    .dlist dd {
      margin: 0 0 0.25rem 1.5rem;

      &:last-of-type {
        margin-block-end: 0;
      }
    }

    td.hdlist1,
    td.hdlist2 {
      padding: 0.5rem 0 0;
      vertical-align: top;
    }

    tr:first-child > .hdlist1,
    tr:first-child > .hdlist2 {
      padding-block-start: 0;
    }

    td.hdlist1 {
      font-weight: var(--body-font-weight-bold);
      padding-inline-end: 0.25rem;
    }

    td.hdlist2 {
      padding-inline-start: 0.25rem;
    }

    .colist {
      font-size: calc(16 / var(--rem-base) * 1rem);
      margin: 0.25rem 0 -0.25rem;

      > table > tr > :first-child,
      > table > tbody > tr > :first-child {
        padding: 0.25em 0.5rem 0;
        vertical-align: top;
      }

      > table > tr > :last-child,
      > table > tbody > tr > :last-child {
        padding: 0.25rem 0;
      }
    }

    .conum[data-value] {
      border: 1px solid currentColor;
      border-radius: 100%;
      display: inline-block;
      font-family: var(--body-font-family);
      font-size: calc(13.5 / var(--rem-base) * 1rem);
      font-style: normal;
      line-height: 1.2;
      text-align: center;
      inline-size: 1.25em;
      block-size: 1.25em;
      letter-spacing: -0.25ex;
      text-indent: -0.25ex;

      &::after {
        content: attr(data-value);
      }

      + b {
        display: none;
      }
    }

    hr {
      border: solid var(--section-divider-color);
      border-width: 2px 0 0;
      block-size: 0;
    }

    b.button {
      white-space: nowrap;

      &::before {
        content: "[";
        padding-inline-end: 0.25em;
      }

      &::after {
        content: "]";
        padding-inline-start: 0.25em;
      }
    }

    kbd {
      display: inline-block;
      font-size: calc(12 / var(--rem-base) * 1rem);
      background: var(--kbd-background);
      border: 1px solid var(--kbd-border-color);
      border-radius: 0.25em;
      box-shadow: 0 1px 0 var(--kbd-border-color), 0 0 0 0.1em var(--body-background) inset;
      padding: 0.25em 0.5em;
      vertical-align: text-bottom;
      white-space: nowrap;
    }

    kbd,
    .keyseq {
      line-height: 1;
    }

    .keyseq {
      font-size: calc(16 / var(--rem-base) * 1rem);

      kbd {
        margin: 0 0.125em;

        &:first-child {
          margin-inline-start: 0;
        }

        &:last-child {
          margin-inline-end: 0;
        }
      }
    }

    .menuseq,
    .path {
      hyphens: none;
    }

    .menuseq i.caret::before {
      content: "\203a";
      font-size: 1.1em;
      font-weight: var(--body-font-weight-bold);
      line-height: calc(1 / 1.1);
    }

    .nowrap {
      white-space: nowrap;
    }

    .nobreak {
      hyphens: none;
      word-wrap: normal;
    }

    strong {
      font-weight: 600;
    }

    em {
      font-weight: 300;
      font-width: 87.5;
      font-style: italic;
    }
  }

  h1.page + aside.toc.embedded {
    margin-block-start: -0.5rem;
  }

  #preamble + .sect1,
  .doc .sect1 + .sect1 {
    margin-block-start: 2rem;
  }

  #preamble .abstract blockquote {
    background: var(--abstract-background);
    border-inline-start: 5px solid var(--abstract-border-color);
    color: var(--abstract-font-color);
    font-size: calc(16 / var(--rem-base) * 1rem);
    padding: 0.75em 1em;
  }

  .source-toolbox .copy-button * {
    flex: none;
  }
}
