@layer components {
  html.is-clipped--navbar {
    overflow-y: hidden;
  }

  body {
    padding-block-start: var(--navbar-height);
  }

  .navbar {
    background: var(--navbar-background);
    color: var(--navbar-font-color);
    font-size: calc(16 / var(--rem-base) * 1rem);
    block-size: var(--navbar-height);
    position: fixed;
    inset-block-start: 0;
    inline-size: 100%;
    z-index: var(--z-index-navbar);
    
    a {
      text-decoration: none;
    }
  }

  /* My addition for toggling dark/light mode */
  .navbar-button {
    background: var(--navbar-background);
    color: var(--navbar-font-color);
    border: 0;
  }

  .navbar-brand .navbar-item:first-child,
  .navbar-brand .navbar-item:first-child a {
    color: var(--navbar-font-color);
    font-size: calc(22 / var(--rem-base) * 1rem);
  }

  .navbar-brand .separator {
    padding-inline: 0.375rem;
  }

  @media (width >= 1024px) {
    .navbar-end > .navbar-item,
    .navbar-end .navbar-link {
      color: var(--navbar-font-color);
    }

    .navbar-end > a.navbar-item:hover,
    .navbar-end .navbar-link:hover {
      background: var(--navbar_hover-background);
      color: var(--navbar-font-color);
    }

    .navbar-end .navbar-link::after {
      border-color: var(--navbar-font-color);
    }

    .navbar-item.has-dropdown:hover .navbar-link {
      background: var(--navbar_hover-background);
      color: var(--navbar-font-color);
    }
  }

  .navbar-brand {
    display: flex;
    align-items: center;
    block-size: 100%;
    gap: 1rem;
  }

  .navbar-burger {
    background: none;
    border: none;
    outline: none;
    line-height: 1;
    position: relative;
    inline-size: 3rem;
    margin-inline-start: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-inline-size: 0;
    
    span {
      background-color: var(--navbar-font-color);
      block-size: 1.5px;
      inline-size: 1rem;
      
      & + span {
        margin-block-start: 0.25rem;
      }
    }
    
    &:not(.is-active) span {
      transition: transform ease-out 0.25s, opacity 0s 0.25s, margin-block-start ease-out 0.25s 0.25s;
    }
    
    &.is-active {
      span + span {
        margin-block-start: -1.5px;
      }
      
      span:nth-child(1) {
        transform: rotate(45deg);
      }
      
      span:nth-child(2) {
        opacity: 0;
      }
      
      span:nth-child(3) {
        transform: rotate(-45deg);
      }
    }
  }

  .navbar-menu {
    display: none;
  }

  .navbar-item,
  .navbar-link {
    color: var(--navbar-menu-font-color);
    display: block;
    line-height: var(--doc-line-height);
    padding: 0.5rem 1rem;
    position: relative;
  }

  .navbar-item {
    flex: none;
    
    &.has-dropdown {
      padding: 0;
    }
    
    .icon {
      inline-size: 1.1rem;
      block-size: 1.1rem;
      display: block;
    }
  }

  .navbar-link {
    padding-inline-end: 2.5em;
  }

  .navbar-dropdown .navbar-item {
    padding-inline: 1.5rem;
  }

  .navbar-divider {
    background-color: var(--navbar-menu-border-color);
    border: none;
    block-size: 1px;
    margin-block: 0.25rem;
  }

  @media (width < 1024px) {
    .navbar-brand .navbar-item {
      align-items: center;
      display: flex;
    }

    .navbar-menu {
      display: none;
      position: absolute;
      inset-inline: 0;
      inset-block-start: var(--navbar-height);
      background: var(--navbar-menu-background);
      padding-block: 0.5rem;
      box-shadow: 0 8px 16px oklch(0% 0 0 / 0.1);
      z-index: 20;
      
      &.is-active {
        display: block;
      }
    }

    .navbar-end {
      display: flex;
      flex-direction: column;
    }
  }

  @media (width >= 1024px) {
    .navbar,
    .navbar-menu,
    .navbar-end {
      display: flex;
    }

    .navbar-burger {
      display: none;
    }

    .navbar-item,
    .navbar-link {
      display: flex;
    }

    .navbar-item:not(.has-dropdown),
    .navbar-link {
      align-items: center;
    }

    .navbar-item.is-hoverable:hover .navbar-dropdown {
      display: block;
    }

    .navbar-link::after {
      border-width: 0 0 1px 1px;
      border-style: solid;
      content: "";
      display: block;
      block-size: 0.5em;
      pointer-events: none;
      position: absolute;
      transform: rotate(-45deg);
      inline-size: 0.5em;
      margin-block-start: -0.375em;
      inset-inline-end: 1.125em;
      inset-block-start: 50%;
    }

    .navbar-menu {
      flex-grow: 1;
    }

    .navbar-end {
      justify-content: flex-end;
      margin-inline-start: auto;
    }

    .navbar-dropdown {
      background: var(--navbar-menu-background);
      border: 1px solid var(--navbar-menu-border-color);
      border-block-start: none;
      border-radius: 0 0 0.25rem 0.25rem;
      display: none;
      inset-block-start: 100%;
      inset-inline-start: 0;
      min-inline-size: 100%;
      position: absolute;
      
      .navbar-item {
        padding: 0.5rem 1rem;
        white-space: nowrap;
        
        &:last-child {
          border-radius: inherit;
        }
      }
      
      a.navbar-item {
        padding-inline-end: 3rem;
        
        &:hover {
          background: var(--navbar-menu_hover-background);
        }
      }
      
      &.is-right {
        inset-inline-start: auto;
        inset-inline-end: 0;
      }
    }
  }

  .navbar .button {
    display: inline-flex;
    align-items: center;
    background: var(--navbar-button-background);
    border: 1px solid var(--navbar-button-border-color);
    border-radius: 0.15rem;
    block-size: 1.75rem;
    color: var(--navbar-button-font-color);
    padding-inline: 0.75em;
    white-space: nowrap;
  }

  .navbar-logo {
    block-size: 1.75rem;
    margin-inline-end: 0.5rem;
  }

  .navbar-tools {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  /* Top nav RSS icon styling */
  .nav-rss-feed {
    display: flex;
    align-items: center;
    
    a {
      color: var(--navbar-font-color);
      transition: color 0.3s;
      display: flex;
      align-items: center;
      
      &:hover {
        color: oklch(67% 0.23 40);
      }
    }
    
    .feather-rss {
      inline-size: 18px;
      block-size: 18px;
    }
  }
}