/* Use container queries for responsive TOC display */
@supports (container-type: inline-size) {
  main {
    container-type: inline-size;
    container-name: main-content;
  }

  /* Hide sidebar TOC in narrow containers, show embedded */
  @container main-content (max-width: 1359px) {
    aside.toc.sidebar {
      display: none;
    }
  }

  /* Show sidebar TOC in wide containers, hide embedded */
  @container main-content (min-width: 1360px) {
    aside.toc.embedded {
      display: none;
    }

    aside.toc.sidebar {
      flex: 0 0 var(--toc-width);
      order: 1;
    }
  }

  @container main-content (min-width: 1216px) {
    aside.toc.sidebar {
      flex-basis: var(--toc-width--widescreen);
    }
  }
}

/* Fallback for browsers without container query support */
@supports not (container-type: inline-size) {
  @media screen and (max-width: 1359px) {
    aside.toc.sidebar {
      display: none;
    }
  }

  @media screen and (min-width: 1360px) {
    aside.toc.embedded {
      display: none;
    }

    aside.toc.sidebar {
      flex: 0 0 var(--toc-width);
      order: 1;
    }
  }

  @media screen and (min-width: 1216px) {
    aside.toc.sidebar {
      flex-basis: var(--toc-width--widescreen);
    }
  }
}

main {
  flex: auto;
  min-width: 0;
  /* min-width: 0 required for flexbox to constrain overflowing elements */
}

main>.content {
  max-width: min(64rem, 100%);
  display: flex;
  margin: 0 auto;
  padding: 0 clamp(0.5rem, 2vw, 1rem);
  width: 100%;
  overflow-x: auto;
}

.signature {
  display: block;
  position: relative;
  width: 100%;
  /* Fluid aspect ratio - defaults to 3:1, can be customized */
  aspect-ratio: 3/1;
}

@media (max-width: 30rem) {
  .signature {
    aspect-ratio: 1/2;
  }
}

@media (min-width: 30.001rem) and (max-width: 48rem) {
  .signature {
    aspect-ratio: 1/1;
  }
}

@media (min-width: 80rem) {
  .signature {
    aspect-ratio: 4/1;
  }
}

.signature iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 1rem 0 1rem 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.signature-info {
  width: 100%;
  margin-top: 1rem;
}