@layer components {
  .nav-container {
    position: fixed;
    inset-block-start: var(--navbar-height);
    inset-inline-start: 0;
    inline-size: 100%;
    font-size: calc(17 / var(--rem-base) * 1rem);
    z-index: var(--z-index-nav);
    visibility: hidden;

    @media (width >= 769px) {
      inline-size: var(--nav-width);
    }

    @media (width >= 1024px) {
      font-size: calc(15.5 / var(--rem-base) * 1rem);
      flex: none;
      position: static;
      inset-block-start: 0;
      visibility: visible;
    }

    &.is-active {
      visibility: visible;
    }
  }

  .nav {
    background: var(--nav-background);
    position: relative;
    inset-block-start: var(--toolbar-height);
    block-size: var(--nav-height);

    @media (width >= 769px) {
      box-shadow: 0.5px 0 3px var(--nav-border-color);
    }

    @media (width >= 1024px) {
      inset-block-start: var(--navbar-height);
      box-shadow: none;
      position: sticky;
      block-size: var(--nav-height--desktop);
    }

    .panels {
      display: flex;
      flex-direction: column;
      block-size: inherit;
    }
  }

  html.is-clipped--nav {
    overflow-y: hidden;
  }

  .nav-panel-menu {
    overflow-y: scroll;
    block-size: var(--nav-panel-menu-height);

    &:not(.is-active) {
      .nav-menu {
        opacity: 0.75;
      }

      &::after {
        content: "";
        background: oklch(0% 0 0 / 0.5);
        display: block;
        position: absolute;
        inset-block-start: 0;
        inset-inline-end: 0;
        inset-block-end: 0;
        inset-inline-start: 0;
      }
    }
  }

  .nav-menu {
    min-block-size: 100%;
    padding: 0.5rem 0.75rem;
    line-height: var(--nav-line-height);
    position: relative;

    h3.title {
      color: var(--nav-heading-font-color);
      font-size: inherit;
      font-weight: var(--body-font-weight-bold);
      margin: 0;
      padding: 0.25em 0 0.125em;
    }

    a {
      color: inherit;
    }

    > .nav-list + .nav-list {
      margin-block-start: 0.5rem;
    }
  }

  .nav-list {
    margin: 0 0 0 0.75rem;
    padding: 0;
  }

  .nav-item {
    list-style: none;
    margin-block-start: 0.5em;

    &[data-depth="0"] > .nav-list:first-child {
      display: block;
      margin: 0;
    }

    &:not(.is-active) > .nav-list {
      display: none;
    }

    &.is-active > .nav-item-toggle {
      transform: rotate(90deg);
    }
  }

  .nav-item-toggle {
    background: transparent url(../img/caret.svg) no-repeat center / 50%;
    border: none;
    outline: none;
    line-height: inherit;
    position: absolute;
    block-size: calc(var(--nav-line-height) * 1em);
    inline-size: calc(var(--nav-line-height) * 1em);
    margin-block-start: -0.05em;
    margin-inline-start: calc(var(--nav-line-height) * -1em);

    ~ .nav-list {
      padding-block-end: 0.125rem;
    }
  }

  .is-current-page > .nav-link,
  .is-current-page > .nav-text {
    font-weight: var(--body-font-weight-bold);
  }

  .nav-panel-explore {
    background: var(--nav-background);
    display: flex;
    flex-direction: column;
    position: absolute;
    inset-block-start: 0;
    inset-inline-end: 0;
    inset-block-end: 0;
    inset-inline-start: 0;

    &:not(:first-child) {
      inset-block-start: auto;
      max-block-size: var(--nav-panel-explore-height);
    }

    &:not(.is-active) .components {
      display: none;
    }

    .context {
      font-size: calc(15 / var(--rem-base) * 1rem);
      flex-shrink: 0;
      color: var(--nav-muted-color);
      box-shadow: 0 -1px 0 var(--nav-panel-divider-color);
      padding: 0 0.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      line-height: 1;
      block-size: var(--drawer-height);

      .version {
        display: flex;
        align-items: inherit;

        &::after {
          content: "";
          background: url(../img/chevron.svg) no-repeat center right / auto 100%;
          inline-size: 1.25em;
          block-size: 0.75em;
        }
      }
    }

    .components {
      line-height: var(--doc-line-height);
      flex-grow: 1;
      box-shadow: inset 0 1px 5px var(--nav-panel-divider-color);
      background: var(--nav-secondary-background);
      padding: 0.5rem 0.75rem 0 0.75rem;
      margin: 0;
      overflow-y: scroll;
      max-block-size: 100%;
      display: block;
    }

    .component {
      display: block;

      + .component {
        margin-block-start: 0.5rem;
      }

      &:last-child {
        margin-block-end: 0.75rem;
      }

      .title {
        font-weight: var(--body-font-weight-bold);
        color: inherit;
      }

      .version {
        display: block;
        margin: 0.375rem 0.375rem 0 0;

        a {
          border: 1px solid var(--nav-border-color);
          border-radius: 0.25rem;
          color: inherit;
          opacity: 0.75;
          white-space: nowrap;
          padding: 0.125em 0.25em;
          display: inherit;
        }
      }

      .is-current a {
        border-color: currentColor;
        opacity: 0.9;
        font-weight: var(--body-font-weight-bold);
      }
    }

    .versions {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      padding-inline-start: 0;
      margin-block-start: -0.25rem;
      line-height: 1;
    }
  }
}
