@layer components {
  .page-versions {
    /* Fluid margin: adjusts based on available space */
    margin: 0 clamp(0.2rem, 1.5vw, 0.7rem) 0 auto;
    position: relative;
    line-height: 1;

    .version-menu-toggle {
      color: inherit;
      background: url(../img/chevron.svg) no-repeat;
      background-position: right 0.5rem top 50%;
      background-size: auto 0.75em;
      border: none;
      outline: none;
      line-height: inherit;
      padding: 0.5rem 1.5rem 0.5rem 0.5rem;
      position: relative;
      z-index: var(--z-index-page-version-menu);
    }

    .version-menu {
      display: flex;
      min-inline-size: 100%;
      flex-direction: column;
      align-items: flex-end;
      background: linear-gradient(to bottom, var(--page-version-menu-background) 0%, var(--page-version-menu-background) 100%) no-repeat;
      padding: 1.375rem 1.5rem 0.5rem 0.5rem;
      position: absolute;
      inset-block-start: 0;
      inset-inline-end: 0;
      white-space: nowrap;
    }

    &:not(.is-active) .version-menu {
      display: none;
    }

    .version {
      display: block;
      padding-block-start: 0.5rem;

      &.is-current {
        display: none;
      }

      &.is-missing {
        color: var(--page-version-missing-font-color);
        font-style: italic;
        text-decoration: none;
      }
    }
  }
}
