@layer components {
  ul.pagination {
    display: block;
    block-size: 1.5em;
    margin-inline-start: -.3125em;

    li {
      block-size: 1.5em;
      color: var(--body-font-color);
      font-size: 1em;
      margin-inline-start: .3125em;
      float: left;
      display: block;

      a {
        display: block;
        padding: .0625em .4375em .0625em;
        color: var(--navbar-menu-font-color);
      }

      &:hover a,
      a:focus {
        background: var(--navbar-menu_hover-background);
      }

      &.disabled {
        a {
          cursor: default;
          color: var(--navbar-menu-border-color);
        }

        &:hover a,
        a:focus {
          background: transparent;
        }
      }

      &.active {
        a {
          background: var(--navbar-background);
          color: var(--navbar-font-color);
          font-weight: bold;
          cursor: default;

          &:hover,
          &:focus {
            background: var(--navbar-background);
          }
        }
      }
    }
  }

  .pagination-centered {
    margin-block-start: 1em;
    text-align: center;

    ul.pagination li {
      float: none;
      display: inline-block;
    }
  }
}
