.preview-container {
  display: flex;
}

.preview-container img {
  padding-top: 0.20em;
  padding-right: 0.83em;
}

.card {
  padding: 16px;
  margin: 16px;
  background-color: var(--body-background);
  border-radius: 2px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  border: 1px solid var(--body-background);
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
}

.card h2, .card .paragraph {
  word-wrap: break-word;
  /* flex-wrap: wrap; */
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
