@layer components {
  @page {
    margin: 0.5in;
  }

  @media print {
    .hide-for-print {
      display: none !important;
    }

    html {
      font-size: var(--body-font-size--print);
    }

    a {
      color: inherit !important;
      text-decoration: underline;

      &.bare,
      &[href^="#"],
      &[href^="mailto:"] {
        text-decoration: none;
      }
    }

    tr,
    img,
    object,
    svg {
      page-break-inside: avoid;
    }

    thead {
      display: table-header-group;
    }

    pre {
      hyphens: none;
      white-space: pre-wrap;
    }

    body {
      padding-block-start: 2rem;
    }

    .navbar {
      background: none;
      color: inherit;
      position: absolute;

      * {
        color: inherit !important;
      }
    }

    #topbar-nav,
    .nav-container,
    .toolbar {
      display: none;
    }

    .doc {
      color: inherit;
      margin: auto;
      max-inline-size: none;
      padding-block-end: 2rem;

      .listingblock code[data-lang]::before {
        display: block;
      }
    }

    footer.footer {
      background: none;
      border-block-start: 1px solid var(--panel-border-color);
      color: var(--quote-attribution-font-color);
      padding: 0.5rem;

      * {
        color: inherit;
      }
    }
  }
}
