@layer components {
  .toc-menu {
    color: var(--toc-font-color);
    text-wrap: wrap;
    max-inline-size: 15rem;
  }

  .toc.sidebar .toc-menu {
    margin-inline-end: 0.75rem;
    position: sticky;
    inset-block-start: var(--toc-top);

    h3 {
      display: flex;
      flex-direction: column;
      block-size: 2.5rem;
      justify-content: flex-end;
    }

    ul {
      max-block-size: none;
      overflow-y: visible;
      scrollbar-width: none;
    }

    a {
      display: block;
      outline: none;

      &:focus {
        background: var(--panel-background);
      }
    }
  }

  .toc .toc-menu {
    h3 {
      color: var(--toc-heading-font-color);
      /* Fluid font size: responsive without media queries */
      font-size: clamp(calc(15 / var(--rem-base) * 1rem), 2vw, calc(16 / var(--rem-base) * 1rem));
      font-weight: var(--body-font-weight-bold);
      line-height: 1.3;
      margin: 0 -0.5px;
      padding-block-end: 0.25rem;
    }

    ul {
      /* Fluid font size: responsive without media queries */
      font-size: clamp(calc(13.5 / var(--rem-base) * 1rem), 1.8vw, calc(15 / var(--rem-base) * 1rem));
      line-height: var(--toc-line-height);
      list-style: none;
      margin: 0;
      padding: 0;

      &::-webkit-scrollbar {
        inline-size: 0;
        block-size: 0;
      }
    }

    li {
      margin: 0;

      &[data-level="2"] a {
        padding-inline-start: 1.25rem;
      }

      &[data-level="3"] a {
        padding-inline-start: 2rem;
      }
    }

    a {
      color: inherit;
      border-inline-start: 2px solid var(--toc-border-color);
      display: inline-block;
      padding: 0.3rem 0 0.25rem 0.5rem;
      text-decoration: none;

      &:hover {
        color: var(--link-font-color);
      }

      &.is-active {
        border-inline-start-color: var(--link-font-color);
        color: var(--doc-font-color);
      }
    }

    .is-hidden-toc {
      display: none !important;
    }
  }

  .mobile-toc {
    display: none;
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid var(--toc-border-color);
    border-radius: 0.25rem;
    background: var(--toc-background);
    position: relative;
    z-index: 1;

    .toc-menu {
      position: static;
    }

    @media (width < 1520px) {
      display: block;
    }

    @media (width >= 1520px) {
      display: none;
    }
  }

  .desktop-toc {
    position: fixed;
    inset-block-start: var(--navbar-height);
    inset-inline-end: 0;
    z-index: 1;
    block-size: calc(100vh - var(--navbar-height));
    overflow-y: auto;

    .toc-menu {
      max-block-size: none;
      position: static;
    }

    @media (width < 1520px) {
      display: none;
    }

    @media (width >= 1520px) {
      display: block;
    }
  }
}
