<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ .Site.Home.RelPermalink }}">
        {{ if .Site.Params.logo }}
        <img src="{{ .Site.Params.logo }}" alt="{{ .Site.Title }} logo" class="navbar-logo">
        {{ end }}
        {{ .Site.Title | safeHTML }}
      </a>
      <div class="nav-rss-feed">
        {{ with .OutputFormats.Get "RSS" }}<a href="{{  .RelPermalink  }}" title="RSS Feed">{{ end }}
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-rss">
            <path d="M4 11a9 9 0 0 1 9 9"></path>
            <path d="M4 4a16 16 0 0 1 16 16"></path>
            <circle cx="5" cy="19" r="1"></circle>
          </svg>
        </a>
      </div>
      {{ if .Site.Params.enableThemeToggle }}
      <button class="navbar-button" href="#" onclick="toggleTheme()">
        <i id="dark-mode-toggle" class="bx bx-moon bx-xs" acesskey="t"></i>
      </button>
      {{ end }}
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        {{ if .Site.Params.enableSearch }}
        <div class="navbar-item search-bar">
          <form action="{{ .Site.BaseURL }}search" method="GET">
            <input type="search" name="q" id="search-query">
            <button type="submit" hidden>Search</button>
          </form>
        </div>
        {{ end }}
        {{ range .Site.Menus.main }}
        {{ if .Name }}
        {{ if .HasChildren }}
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#" title="{{ .Title | safeHTML }}">{{ .Name }}</a>
          <div class="navbar-dropdown">
            {{ range .Children }}
            {{ if .Name }}
            <a class="navbar-item" href="{{ .URL | absLangURL }}" title="{{ .Title | safeHTML }}">{{ .Name }}</a>
            {{ end }}
            {{ end }}
          </div>
        </div>
        {{ else }}
        <a class="navbar-item" href="{{ .URL | absLangURL }}" title="{{ .Title | safeHTML }}">{{ .Name }}</a>
        {{ end }}
        {{ end }}
        {{ end }}
      </div>
    </div>
  </nav>
</header>