<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{{ $vars := resources.Get "css/vars.css" }}
{{ $base := resources.Get "css/base.css" }}
{{ $body := resources.Get "css/body.css" }}
{{ $blogList := resources.Get "css/blog-list.css" }}
{{ $preview := resources.Get "css/preview.css" }}
{{ $nav := resources.Get "css/nav.css" }}
{{ $main := resources.Get "css/main.css" }}
{{ $toolbar := resources.Get "css/toolbar.css" }}
{{ $breadcrumbs := resources.Get "css/breadcrumbs.css" }}
{{ $page_versions := resources.Get "css/page-versions.css" }}
{{ $toc := resources.Get "css/toc.css" }}
{{ $doc := resources.Get "css/doc.css" }}
{{ $pagination := resources.Get "css/pagination.css" }}
{{ $pagination_list := resources.Get "css/pagination-list.css" }}
{{ $header := resources.Get "css/header.css" }}
{{ $footer := resources.Get "css/footer.css" }}
{{ $fa := resources.Get "css/vendor/fontawesome/font-awesome.min.css"}}
{{ $highlightPath := "css/custom_highlight.css" }}
{{ if .Site.Params.useHighlightjs }}
{{ $highlightPath = default "github" .Site.Params.adocHighlightTheme | printf "%s.min.css" | path.Join
"css/vendor/highlightjs/" }}
{{ end }}
{{ fmt.Warnf "Loading styles for syntax highlighting from asset %s" $highlightPath }}
{{ $highlight := resources.Get $highlightPath | resources.Fingerprint }}
{{ $print := resources.Get "css/print.css" }}
{{ $custom := resources.Get "css/custom.css" }}
{{ $site := slice $vars $base $body $blogList $preview $nav $main $toolbar $breadcrumbs $page_versions $toc $doc
$pagination
$pagination_list $header $footer $fa $highlight $print $custom | resources.Concat "css/site.css" | resources.Minify |
resources.Fingerprint }}
<link rel="stylesheet" href="{{ $site.RelPermalink }}" {{ $site.Data.Integrity | printf "integrity=%q" | safeHTMLAttr
    }}>