<article class="card">
  <h2>
    <a href="{{ $.RelPermalink }}">
      {{ .Title | safeHTML }}
    </a>
  </h2>

  <div class="preview-container">
    <div class="card-feature">
      {{ $images := .Resources.ByType "image" }}
      {{ $thumbnail := $images.GetMatch (.Params.thumbnail | default "*thumb*") }}
      {{ $feature := $images.GetMatch (.Params.feature | default "*feature*") | default $thumbnail }}
      <a href="{{ $.RelPermalink }}">
        {{ with $feature }}
        {{ if eq .MediaType.SubType "svg" }}
        <img alt="{{ $.Params.featureAlt | default $.Params.thumbnailAlt | default "" }}" src="{{ .RelPermalink }}" width="200" height="150">
        {{ else }}
        <img alt="{{ $.Params.featureAlt | default $.Params.thumbnailAlt | default "" }}" srcset="
                    {{- (.Fill " 200x150 center").RelPermalink }} 160w, {{- (.Fill "400x300 center" ).RelPermalink }}
          2x" src="{{ (.Fill " 800x600 center").RelPermalink }}" width="200" height="150">
        {{ end }}
        {{ end }}
      </a>
    </div>
    <div class="card-content">
      {{ partial "post-meta.html" . }}
      <div class="paragraph">
        {{ .Summary | safeHTML }}
      </div>
    </div>
</div>
<div class="paragraph align-right">
  <p><a href="{{ .RelPermalink }}">{{ i18n "continueReading" .Title | safeHTML }}</a></p>
</div>
</article>
